
* {
    text-align: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('https://i.pinimg.com/originals/95/fa/e9/95fae9f9c693ab981dab098626ea16a8.jpg');
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
}

h1 {
    color: white;
}

th, tr, td {
    border: solid 1px white;
    color: white;
}

#adicionarJogador{
    background-color: #6262e8;
    text-align: center;
    border: 10px solid #6262e8;
    border-radius: 10px;
    margin: 0 0 1rem;
    cursor: pointer;
}

#adicionarJogador:hover{
    opacity: 0.8;
}

.botaoVitoria{
    background-color: darkgreen;
    text-align: center;
    border: 5px solid darkgreen;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.botaoEmpate{
    background-color: yellow;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.botaoDerrota{
    background-color: darkred;
    text-align: center;
    border: 5px solid darkred;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}

#novoJogador{
    width: 250px;
    padding: 0.3rem 0;
    border: none;
    border-radius: 10px;
    margin: 0 1rem;
}

label{
    font-weight: bold;
    color: white;
    font-size: 20px;
}